
.banner-image {
    overflow: hidden;
    background-color: #666666;
    max-height: 250px;
    height: auto;
    margin-bottom: .6em;
}

.banner-image img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.banner-box {
    position: absolute;
    z-index: 2;
    margin-top: 3.5vw;
    color: white;
    font-weight: bold;
    width: 50%;
    min-width: 20em;
}

.banner-box-wide {
    width: 80%
}

.banner-box-left {
    left: 5%;
    text-align: left;
}

.banner-box-right {
    right: 5%;
    text-align: right;
}

.banner-box-welcome {
    left: 5%;
    text-align: center;
    width: 60%;
    white-space: nowrap;
}

.banner-box a {
    color: white !important;
}

.banner-box .name {
    font-size: 3vw;
    white-space: nowrap;
}

.banner-box .type {
    font-size: 2vw;
    margin-top: .5em;
}

.banner-box .quote {
    font-size: 1.4vw;
    margin-top: .5em;
}

.banner-box .welcome {
    font-size: 3vw;
}

.banner-box .welcome-sub {
    font-size: 1vw;
    margin-top: 1em;
}

.banner-box .welcome-map-nav {
    font-size: 1.75vw;
    margin-top: 1em;
}

