
.banner-image {
    overflow: hidden;
/*    background-color: #666666;*/
    max-height: 320px; 
    height: auto;
    margin-bottom: .6em;
}

.banner-image img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.banner-box {
    position: absolute;
    z-index: 2;
    margin-top: 2.5em;
    color: white;
    font-weight: bold;
    width: 50%;
    min-width: 20em;
}

.banner-box-wide {
    width: 80%
}

.banner-box-left {
    left: 5%;
    text-align: left;
}

.banner-box-right {
    right: 5%;
    text-align: right;
}

.banner-box-welcome {
    left: 1em;
    text-align: center;
    width: 40%;
    white-space: nowrap;
}

.banner-box a {
    color: white !important;
}

.banner-box .name {
    font-size: 3em;
    white-space: nowrap;
    line-height: 1.2em;
}

.banner-box .type {
    font-size: 2em;
    line-height: 1.2em;
}

.banner-box .stats {
    font-size: 1.4em;
}

.banner-box .quote {
    font-size: 1.2em;
    line-height: 1.3em;
}

.banner-box .welcome {
    font-size: 3em;
}

.banner-box .nav-tip {
    font-size: 1.5em;
}

.banner-box .welcome-sub {
    font-size: 1em;
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
}

.banner-box .welcome-map-nav {
    font-size: 1.25em;
/*    margin-top: 1em;*/
}

.banner-box ul {
    font-size: 1.25em;
}

.banner-box ul li {
    display: inline;
}

.banner-box ul li:before {
    content: " ⚫ ";
}

.banner-box ul li:nth-of-type(1):before {
    content: " ";
}

